name: Scrape Announcements

on:
  schedule:
    - cron: "*/10 * * * 1-5"
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Restore history cache
        uses: actions/cache@v3
        id: cache-history
        with:
          path: /tmp/annscraper/asx_report_history.json
          key: ${{ runner.os }}-history
      - name: Get latest
        run: |-
          curl --location --request GET \
            'https://github.com/shanehull/annscraper/releases/latest/download/annscraper-linux-amd64' \
            -o annscraper
      - name: Make executable
        run: chmod +x ./annscraper
      - name: Update apt package list
        run: sudo apt update
      - name: Install popper-utils
        run: sudo apt install -y poppler-utils
      - name: Run scraper
        env:
          KEYWORDS: ${{ vars.KEYWORDS }}
          SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
          SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          FROM_EMAIL: ${{ secrets.FROM_EMAIL }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
        run: |-
          ./annscraper \
            --keywords "$KEYWORDS" \
            --smtp-server "$SMTP_SERVER" \
            --smtp-pass "$SMTP_PASSWORD" \
            --smtp-user "$SMTP_USER" \
            --from-email "$FROM_EMAIL" \
            --to-email "$TO_EMAIL" \
            --price-sensitive
