name: Scrape Announcements

on:
  schedule:
    - cron: "*/10 * * * 1-5"
  workflow_dispatch:

jobs:
  update-tickers:
    runs-on: ubuntu-latest
    steps:
      - name: Restore history cache
        uses: actions/cache@v3
        id: cache-history
        with:
          path: /tmp/annscraper/asx_report_history.json
          key: ${{ runner.os }}-history
      - name: Get latest
        run: |-
          curl --location --reqeust GET \
            'https://github.com/shanehull/annscraper/releases/latest/download/annscraper-linux-amd64' \
            -o annscraper
      - name: Run scraper
        run: |-
          ./annscraper \
            --keywords $KEYWORDS \
            --smtp-server $SMTP_SERVER \
            --smtp-pass $SMTP_PASSWORD \
            --smtp-user $SMTP_USER \
            --from-email $FROM_EMAIL \
            --to-email $TO_EMAIL \
            --price-sensitive
